<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
       <RollingFile name="Standard" fileName="c:/a/anjelica-${hostName}.log" filePattern="c:/a/anjelica-${hostName}-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
        <PatternLayout>
          <Pattern>%d{yyyy-MM-dd HH:mm} %p %c{1} [%t] %m%n</Pattern>
        </PatternLayout>
        <TimeBasedTriggeringPolicy />
    </RollingFile>
       <RollingFile name="Error" fileName="c:/a/anjelica-${hostName}.err" filePattern="c:/a/anjelica-${hostName}-%d{MM-dd-yyyy}.err.gz"
                 ignoreExceptions="false">
        <PatternLayout>
          <Pattern>%d{yyyy-MM-dd HH:mm} %p %c{1}  %C{1} [%t] %m%n</Pattern>
        </PatternLayout>
        <TimeBasedTriggeringPolicy />
    </RollingFile>
		
	 <SMTP name="Mail" subject="Error Log" to="anjelica@vacunospuente.es" from="anjelica@sf.net"
			smtpHost="mail.vacunospuente.es" smtpPort="25" bufferSize="50">
	</SMTP>
		
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="trace"/>		
	        <AppenderRef ref="Standard" level="debug" />		
                <AppenderRef ref="Error" level="warn"/>	
<!--	        <AppenderRef ref="Mail" level="error"/>	-->
        </Root>
    </Loggers>
</Configuration>